<div class="my-2">
  <h3>
    Create Poll
  </h3>
  <form [formGroup]="pollForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="col-md-12 form-group">
        <input type="text" id="questionInput" class="form-control" formControlName="question" placeholder="Enter your topic..." />
        <input-validation [invalid]="pollForm.controls.question.invalid" invalidMessage="Required"></input-validation>
      </div>
    </div>
    <div class="col-md-12 form-check">
      <input type="checkbox" id="isPublicInput" class="form-check-input" formControlName="isPublic" />
      <label class="form-check-label" for="isPublicInput">Is Public Poll</label>
    </div>
    <div class="col-md-12 form-check">
      <input type="checkbox" id="allowUserOptionsInput" class="form-check-input" formControlName="allowUserOptions" />
      <label class="form-check-label" for="allowUserOptionsInput">Allow User Options</label>
    </div>
    <div class="col-md-12 form-check">
      <input type="checkbox" id="allowMultiSelectionInput" class="form-check-input" formControlName="allowMultiSelection" />
      <label class="form-check-label" for="allowMultiSelectionInput">Allow Multiple Selections</label>
    </div>
    <div class="m-2 p-1">
      <div *ngFor="let answer of answersForm.controls; let i = index" class="my-1">
        <div class="row">
          <input type="text" [formControl]="answersForm.controls[i]" class="col-11 form-control px-1" [placeholder]="i + 1 + '. Answer'" />
          <button type="button" class="col btn btn-outline-primary ml-3" (click)="removeAnswerOptionByIndex(i)"><fa-icon [icon]="faTrash"></fa-icon></button>
        </div>
      </div>
      <button class="my-1 btn btn-primary" type="button" (click)="addAnswerOption()"><fa-icon [icon]="faPlusCircle"></fa-icon> Answer</button>
    </div>
    <div class="text-right">
      <button class="btn btn-outline-primary mr-2" type="button" (click)="resetForm()"><fa-icon [icon]="faUndo"></fa-icon> Reset</button>
      <button class="btn btn-primary" type="submit"><fa-icon [icon]="faShare"></fa-icon> Submit</button>
    </div>
  </form>
</div>
