<div *ngIf="alreadyVoted">
  <h3>You have already voted in this poll.</h3>
  <p>
    You will be redirected to its results. If not - click this button:
    <button type="button" class="btn btn-outline-primary m-1" [routerLink]="['/poll-result']" [queryParams]="{id: pollId}"><fa-icon [icon]="faPoll"></fa-icon> Results</button>
  </p>
</div>
<div *ngIf="poll && !alreadyVoted">
  <h3>{{poll.question}}</h3>
  <div class="my-2">
    <div *ngFor="let answer of answers; let i = index">
      <div class="form-check">
        <input type="checkbox" [id]="i + '_answerControl'" class="form-check-input" [value]="answer.selected" (click)="onAnswerClicked(answer, $event)">
        <label class="form-check-label" [for]="i + '_answerControl'">{{ answer.content }}</label>
      </div>
    </div>
  </div>

  <div class="my-2 row" *ngIf="poll.allowUserOptions">
    <input type="text" *ngIf="showAnswerInput" class="col form-control" [(ngModel)]="answerInput" placeholder="Enter your answer..." />
    <button class="btn btn-primary col-2 ml-3" type="button" (click)="handleAddAnswer()"><fa-icon [icon]="faPlusCircle"></fa-icon>{{ showAnswerInput ? '' : ' Answer'}}</button>
  </div>

  <div class="text-right" *ngIf="answers && answers.length > 0">
    <button type="button" class="btn btn-outline-primary m-1" [routerLink]="['/poll-result']" [queryParams]="{id: poll.id}"><fa-icon [icon]="faPoll"></fa-icon> Results</button>
    <button type="button" class="btn btn-primary m-1" (click)="submitVote()"><fa-icon [icon]="faCheckCircle"></fa-icon> Vote</button>
  </div>

</div>
