<div>
  <h3>
    Public Polls
  </h3>
  <div>
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>
            Question
          </th>
          <th>
            Options
          </th>
          <th>
            # of Votes
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let poll of publicPolls" [routerLink]="['/poll']" [queryParams]="{id: poll.id}">
          <td>
            {{poll.question}}
          </td>
          <td>
            {{ getListOfAnswers(poll) }}
          </td>
          <td>
            {{ getNumberOfVotes(poll) }}
          </td>
          <td>
            <a class="mx-2" [routerLink]="['/poll']" [queryParams]="{id: poll.id}" title="Vote"><fa-icon [icon]="faCheck"></fa-icon></a>
            <a class="mx-2" [routerLink]="['/poll-result']" [queryParams]="{id: poll.id}" title="Result"><fa-icon [icon]="faPoll"></fa-icon></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<style>
  table > tbody > tr:hover {
    cursor: pointer;
  }
</style>
